<%#-*- coding: utf-8 -*-%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Stats</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
  thead {
    font-weight: bold;
  }

  .badge {
    float: right;
  }

  .float-right {
    float: right;
  }
  </style>
  <body>
    <div class="container">
      <div class="page-header">
        <h2>Twitter Stats</h2>
      </div>

      <h4>Most Mentioned Users</h4>
      <p>With this, you can see the people you mentioned most in your Twitter time!</p>
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <td>&nbsp;</td>
            <td>Username</td>
            <td>Times Mentioned</td>
            <td>Example</td>
          </tr>
        </thead>
        <tbody>
<% mentions[:top10].each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %>.</td>
            <td><a href="http://twitter.com/<%= user[:name] %>">@<%= user[:name] %></a></td>
            <td><%= user[:count] %></td>
            <td><%= user[:example] %> <a class="float-right" href=""><i class="glyphicon glyphicon-share-alt"></i></a></td>
          </tr>
<% end %>
        </tbody>
      </table>
<% if mentions[:nottop].length > 0 %>
      <h5>These didn't make it to the top…</h5>
      <table class="table table-responsive table-bordered">
        <tr>
  <% mentions[:nottop].each_with_index do |user, index| %>
          <td><a href="http://twitter.com/<%= user[:name] %>">@<%= user[:name] %></a> <span class="badge"><%= user[:count] %></span></td>
    <% if index % 5 == 4 %>
        </tr>
        <tr>
    <% end %>
  <% end %>
        </tr>
      </table>
<% end %>

      <h4>Most Used Twitter-Clients</h4>
      <p>What is/was your favorite and most used client? Find it out right here!</p>
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <td>&nbsp;</td>
            <td>Client</td>
            <td>Times Used</td>
            <td>Percentage (% of total)</td>
          </tr>
        </thead>
        <tbody>
<% clients[:top10].each_with_index do |client, index| %>
          <tr>
            <td><%= index + 1 %>.</td>
            <td><a href="<%= client[:url] %>"><%= client[:name] %></a></td>
            <td><%= client[:count] %></td>
            <td><%= client[:percentage] %>%</td>
          </tr>
<% end %>
        </tbody>
      </table>
<% if clients[:nottop].length > 0 %>
      <h5>These didn't make it to the top…</h5>
      <table class="table table-responsive table-bordered">
        <tr>
  <% clients[:nottop].each_with_index do |client, index| %>
          <td><a href="<%= client[:url] %>"><%= client[:name] %></a> <span class="badge"><%= client[:count] %></span></td>
    <% if index % 5 == 4 %>
        </tr>
        <tr>
    <% end %>
  <% end %>
        </tr>
      </table>
<% end %>

      <h4>Most Used Hashtags</h4>
      <p>What were you talking about on Twitter most? <span class="text-muted">(Or you simply spammed/overused those hashtags)</span></p>
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <td>&nbsp;</td>
            <td>Hashtag</td>
            <td>Times Used</td>
            <td>Example</td>
          </tr>
        </thead>
        <tbody>
<% hashtags[:top10].each_with_index do |hashtag, index| %>
          <tr>
            <td><%= index + 1 %>.</td>
            <td>#<%= hashtag[:hashtag] %></td>
            <td><%= hashtag[:count] %></td>
            <td><%= hashtag[:example] %> <a class="float-right" href=""><i class="glyphicon glyphicon-share-alt"></i></a></td>
          </tr>
<% end %>
        </tbody>
      </table>
<% if hashtags[:nottop].length > 0 %>
      <h5>These didn't make it to the top…</h5>
      <table class="table table-responsive table-bordered">
        <tr>
  <% hashtags[:nottop].each_with_index do |hashtag, index| %>
          <td>#<%= hashtag[:hashtag] %> <span class="badge"><%= hashtag[:count] %></span></td>
    <% if index % 5 == 4 %>
        </tr>
        <tr>
    <% end %>
  <% end %>
        </tr>
      </table>
<% end %>
    </div>
  </body>
</html>