<%#-*- coding: utf-8 -*-%>
<%
  table_width = 710

  def _generate_colour(count, position)
    table_colour_start = 'babadc'
    table_colour_end   = 'cccccc'

    start_red   = table_colour_start.match(/([0-9A-Fa-f]{2}).{4}/)[1].to_i(16)
    start_green = table_colour_start.match(/.{2}([0-9A-Fa-f]{2}).{2}/)[1].to_i(16)
    start_blue  = table_colour_start.match(/.{4}([0-9A-Fa-f]{2})/)[1].to_i(16)
    end_red     = table_colour_end.match(/([0-9A-Fa-f]{2}).{4}/)[1].to_i(16)
    end_green   = table_colour_end.match(/.{2}([0-9A-Fa-f]{2}).{2}/)[1].to_i(16)
    end_blue    = table_colour_end.match(/.{4}([0-9A-Fa-f]{2})/)[1].to_i(16)

    blue  = sprintf "%0.2x", ((((end_blue - start_blue) / count.to_f) * + position) + start_blue).abs
    green = sprintf "%0.2x", ((((end_green - start_green) / count.to_f) * + position) + start_green).abs
    red   = sprintf "%0.2x", ((((end_red - start_red) / count.to_f) * + position) + start_red).abs

    "##{red}#{green}#{blue}"
  end

  def _colour(time)
    case time
    when (0..5) then "blue"
    when (6..11) then "green"
    when (12..17) then "yellow"
    when (18..23) then "red"
    end
  end

  table_colours_mentions = []
  table_colours_clients = []
  table_colours_hashtags = []
  table_colours_smileys = []

  (0...@config[:mentions][:top]).each do |i|
    table_colours_mentions << _generate_colour(@config[:mentions][:top], i)
  end
  (0...@config[:clients][:top]).each do |i|
    table_colours_clients << _generate_colour(@config[:clients][:top], i)
  end
  (0...@config[:hashtags][:top]).each do |i|
    table_colours_hashtags << _generate_colour(@config[:hashtags][:top], i)
  end
  (0...@config[:smileys][:top]).each do |i|
    table_colours_smileys << _generate_colour(@config[:smileys][:top], i)
  end
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Twitter Stats</title>
<style type="text/css" title="default">
a {
    text-decoration: none;
}
a:link {
    color: #0b407a;
}
a:visited {
    color: #0b407a;
}

a:hover {
    text-decoration: underline;
    color: #0b407a;
}

a.background {
    text-decoration: none;
}

a.background:link {
    color: #0b407a;
}

a.background:visited {
    color: #0b407a;
}

a.background:hover {
    text-decoration: underline;
    color: #0b407a;
}

body {
    background-color: #dedeee;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: black;
}

td {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: black;
    text-align: left;
}

.title {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.headtext {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #666699;
}

.headlinebg {
    background-color: #000000;
}

.tdtop {
    background-color: #C8C8DD;
}

.hicell {
    background-color: #BABADD;
}

.hicell10 {
    background-color: #BABADD;
    font-size: 10px;
}

.rankc {
    background-color: #CCCCCC;
}

.hirankc {
    background-color: #AAAAAA;
    font-weight: bold;
}

.rankc10 {
    background-color: #CCCCCC;
    font-size: 10px;
}

.rankc10center {
    background-color: #CCCCCC;
    font-size: 10px;
    text-align: center;
}

.hirankc10center {
    background-color: #AAAAAA;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.small {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}


.asmall {
      font-family: "Arial narrow", Arial, sans-serif;
      font-size: 10px;
      color: black;
      text-align: center;
}

.blue-v {
    display: inline-block;
    margin: auto;
    width: 15px;
    background: #929ded;
    background: -moz-linear-gradient(left, #929ded 0%, #0629ad 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#929ded), color-stop(100%,#0629ad));
    background: -webkit-linear-gradient(left, #929ded 0%,#0629ad 100%);
    background: -o-linear-gradient(left, #929ded 0%,#0629ad 100%);
    background: -ms-linear-gradient(left, #929ded 0%,#0629ad 100%);
    background: linear-gradient(to right, #929ded 0%,#0629ad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929ded', endColorstr='#0629ad',GradientType=1 );
}
.green-v {
    display: inline-block;
    margin: auto;
    width: 15px;
    background: #bded92;
    background: -moz-linear-gradient(left, #bded92 0%, #10ae05 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bded92), color-stop(100%,#10ae05));
    background: -webkit-linear-gradient(left, #bded92 0%,#10ae05 100%);
    background: -o-linear-gradient(left, #bded92 0%,#10ae05 100%);
    background: -ms-linear-gradient(left, #bded92 0%,#10ae05 100%);
    background: linear-gradient(to right, #bded92 0%,#10ae05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bded92', endColorstr='#10ae05',GradientType=1 );
}
.yellow-v {
    display: inline-block;
    margin: auto;
    width: 15px;
    background: #ede192;
    background: -moz-linear-gradient(left, #ede192 0%, #b6b309 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ede192), color-stop(100%,#b6b309));
    background: -webkit-linear-gradient(left, #ede192 0%,#b6b309 100%);
    background: -o-linear-gradient(left, #ede192 0%,#b6b309 100%);
    background: -ms-linear-gradient(left, #ede192 0%,#b6b309 100%);
    background: linear-gradient(to right, #ede192 0%,#b6b309 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede192', endColorstr='#b6b309',GradientType=1 );
}
.red-v {
    display: inline-block;
    margin: auto;
    width: 15px;
    background: #ed9292;
    background: -moz-linear-gradient(left, #ed9292 0%, #ad0506 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed9292), color-stop(100%,#ad0506));
    background: -webkit-linear-gradient(left, #ed9292 0%,#ad0506 100%);
    background: -o-linear-gradient(left, #ed9292 0%,#ad0506 100%);
    background: -ms-linear-gradient(left, #ed9292 0%,#ad0506 100%);
    background: linear-gradient(to right, #ed9292 0%,#ad0506 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9292', endColorstr='#ad0506',GradientType=1 );
}
</style>
</head>
<body>
<div align="center">

<span class="title">Twitter Stats</span><br />
<br />
Statistics generated on <%= Time.now.strftime("%A %d %B %Y - %T") %><br />
Total number of tweets: <%= counters[:tweets] %> (<%= counters[:retweets_percentage] %>% retweets)
<br /><br />

<table width="<%= table_width %>" cellpadding="1" cellspacing="0" border="0">
  <tr>
    <td class="headlinebg">
    <table width="100%" cellpadding="2" cellspacing="0" border="0">
    <tr>
    <td class="headtext">Most active times</td>
    </tr>
    </table>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
<% times_of_day.each_with_index do |time, index| %>
    <td align="center" valign="bottom" class="asmall"><%= time[:percentage] %>%<% if time[:size] > 0 %><br /><div class="<%= _colour(index) %>-v" style="height: <%= time[:size] %>px;" alt="<%= time[:count] %>" title="<%= time[:count] %>"/><% end %></td>
<% end %>
  </tr><tr>
<% times_of_day.each_with_index do |time, index| %>
    <td class="<% if time[:max] %>hi<% end %>rankc10center" align="center"><%= index %></td>
<% end %>
</tr></table><br />
<br />

<% if mentions[:enabled] %>
   <table width="<%= table_width %>" cellpadding="1" cellspacing="0" border="0">
    <tr>
     <td class="headlinebg">
      <table width="100%" cellpadding="2" cellspacing="0" border="0">
       <tr>
        <td class="headtext">Most mentioned users</td>
       </tr>
      </table>
     </td>
    </tr>
   </table>

<table border="0" width="<%= table_width + 4 %>">
  <tr>
    <td>&nbsp;</td>
    <td class="tdtop"><b>User</b></td>
    <td class="tdtop"><b>How often?</b></td>
    <td class="tdtop"><b>Random quote</b></td>
  </tr>
<% mentions[:top].each_with_index do |user, index| %>
  <tr>
    <td class="<% if index == 0 %>hi<% end %>rankc" align="left"><%= index + 1 %></td>
    <td style="background-color: <%= table_colours_mentions[index] %>"><span><a href="https://twitter.com/<%= user[:name] %>">@<%= user[:name] %></a></span></td>
    <td style="background-color: <%= table_colours_mentions[index] %>"><%= user[:count] %></td>
    <td style="background-color: <%= table_colours_mentions[index] %>">"<%= user[:example][:text] %>" <a href="https://twitter.com/statuses/<%= user[:example][:id] %>">&rarr;</a></td>
  </tr>
<% end %>
</table><br />
<br />
<% if mentions[:nottop].length > 0 %><b><i>These didn't make it to the top:</i></b><table><tr>
  <% mentions[:nottop].each_with_index do |user, index| %>
          <td class="rankc10"><span><a href="https://twitter.com/<%= user[:name] %>">@<%= user[:name] %></a> (<%= user[:count] %>)</span></td>
    <% if index % 5 == 4 %>
        </tr>
        <tr>
    <% end %>
  <% end %>
        </tr>
      </table><br />
   <br />
<% end %>
<% end %>
<% if clients[:enabled] %>
   <table width="<%= table_width %>" cellpadding="1" cellspacing="0" border="0">
    <tr>
     <td class="headlinebg">
      <table width="100%" cellpadding="2" cellspacing="0" border="0">
       <tr>
        <td class="headtext">Most used clients</td>
       </tr>
      </table>
     </td>
    </tr>
   </table>

<table border="0" width="<%= table_width + 4 %>">
  <tr>
    <td>&nbsp;</td>
    <td class="tdtop"><b>Client</b></td>
    <td class="tdtop"><b>Times used</b></td>
    <td class="tdtop"><b>Percentage</b></td>
  </tr>
<% clients[:top].each_with_index do |client, index| %>
  <tr>
    <td class="<% if index == 0 %>hi<% end %>rankc" align="left"><%= index + 1 %></td>
    <td style="background-color: <%= table_colours_clients[index] %>"><span><a href="<%= client[:url] %>"><%= client[:name] %></a></span></td>
    <td style="background-color: <%= table_colours_clients[index] %>"><%= client[:count] %></td>
    <td style="background-color: <%= table_colours_clients[index] %>"><%= client[:percentage] %>%</td>
  </tr>
<% end %>
</table><br />
<br />
<% if clients[:nottop].length > 0 %><b><i>These didn't make it to the top:</i></b><table><tr>
  <% clients[:nottop].each_with_index do |client, index| %>
          <td class="rankc10"><span><a href="<%= client[:url] %>"><%= client[:name] %></a> (<%= client[:count] %>)</span></td>
    <% if index % 5 == 4 %>
        </tr>
        <tr>
    <% end %>
  <% end %>
        </tr>
      </table><br />
   <br />
<% end %>
<% end %>

<% if smileys[:enabled] %>
   <table width="<%= table_width %>" cellpadding="1" cellspacing="0" border="0">
    <tr>
     <td class="headlinebg">
      <table width="100%" cellpadding="2" cellspacing="0" border="0">
       <tr>
        <td class="headtext">Most used smileys :^)</td>
       </tr>
      </table>
     </td>
    </tr>
   </table>

<table border="0" width="<%= table_width + 4 %>">
  <tr>
    <td>&nbsp;</td>
    <td class="tdtop"><b>Smiley</b></td>
    <td class="tdtop"><b>Times used</b></td>
    <td class="tdtop"><b>Random quote</b></td>
  </tr>
<% smileys[:top].each_with_index do |smiley, index| %>
  <tr>
    <td class="<% if index == 0 %>hi<% end %>rankc" align="left"><%= index + 1 %></td>
    <td style="background-color: <%= table_colours_smileys[index] %>"><span><%= smiley[:smiley] %></span></td>
    <td style="background-color: <%= table_colours_smileys[index] %>"><%= smiley[:count] %></td>
    <td style="background-color: <%= table_colours_smileys[index] %>">"<%= smiley[:example][:text] %>" <a href="https://twitter.com/statuses/<%= smiley[:example][:id] %>">&rarr;</a></td>
  </tr>
<% end %>
</table><br />
<br />
<% if smileys[:nottop].length > 0 %><b><i>These didn't make it to the top ;_;</i></b><table><tr>
  <% smileys[:nottop].each_with_index do |smiley, index| %>
          <td class="rankc10"><span><%= smiley[:smiley] %> (<%= smiley[:count] %>)</span></td>
    <% if index % 5 == 4 %>
        </tr>
        <tr>
    <% end %>
  <% end %>
        </tr>
      </table><br />
   <br />
<% end %>
<% end %>

<% if hashtags[:enabled] %>
   <table width="<%= table_width %>" cellpadding="1" cellspacing="0" border="0">
    <tr>
     <td class="headlinebg">
      <table width="100%" cellpadding="2" cellspacing="0" border="0">
       <tr>
        <td class="headtext">Most used hashtags</td>
       </tr>
      </table>
     </td>
    </tr>
   </table>

<table border="0" width="<%= table_width + 4 %>">
  <tr>
    <td>&nbsp;</td>
    <td class="tdtop"><b>Hashtag</b></td>
    <td class="tdtop"><b>Times used</b></td>
    <td class="tdtop"><b>Random quote</b></td>
  </tr>
<% hashtags[:top].each_with_index do |hashtag, index| %>
  <tr>
    <td class="<% if index == 0 %>hi<% end %>rankc" align="left"><%= index + 1 %></td>
    <td style="background-color: <%= table_colours_hashtags[index] %>"><span><a href="https://twitter.com/search?q=%23<%= hashtag[:hashtag] %>">#<%= hashtag[:hashtag] %></a></span></td>
    <td style="background-color: <%= table_colours_hashtags[index] %>"><%= hashtag[:count] %></td>
    <td style="background-color: <%= table_colours_hashtags[index] %>">"<%= hashtag[:example][:text] %>" <a href="https://twitter.com/statuses/<%= hashtag[:example][:id] %>">&rarr;</a></td>
  </tr>
<% end %>
</table><br />
<br />
<% if hashtags[:nottop].length > 0 %><b><i>These didn't make it to the top:</i></b><table><tr>
  <% hashtags[:nottop].each_with_index do |hashtag, index| %>
          <td class="rankc10"><span><a href="https://twitter.com/search?q=%23<%= hashtag[:hashtag] %>">#<%= hashtag[:hashtag] %></a> (<%= hashtag[:count] %>)</span></td>
    <% if index % 5 == 4 %>
        </tr>
        <tr>
    <% end %>
  <% end %>
        </tr>
      </table><br />
   <br />
<% end %>
<% end %>

<span class="small">
Stats generated by <a href="https://github.com/Leafcat/Empyrean" class="background"><%= Empyrean::VERSION_STR %></a><br />
Empyrean by <a href="http://leafc.at" class="background">Leafcat</a>
</span>
</div>
</body>
</html>

